body {
  font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
}

.hidden-latex {
  display: none;
}

#disqus_thread {
  width:90%;
  margin: 0 auto;
}

.md-nav--secondary .md-nav__link {
  display: block;
}

.md-nav--secondary .md-nav__link > * {
  display: inline;
}

