.md-typeset div.arithmatex {
  overflow-y: hidden;
}

.hidden-latex {
  display: none;
}

#disqus_thread {
  width:90%;
  margin: 0 auto;
}

.md-nav__link {
  display: block;
}

.md-nav__link > * {
  display: inline;
}
