{% set cusdis = config.extra.cusdis %}
{% if page and page.meta and page.meta.cusdis is string %}
{% set cusdis = page.meta.cusdis %}
{% endif %}
{% if not page.is_homepage %}
<div class="cusdis" style="width:100%">
    <div id="cusdis_thread" data-host="{{ config.extra.cusdis.host }}" data-app-id="{{ config.extra.cusdis.app_id }}"
        data-page-id="{{ page.abs_url|url }}"
          data-page-url=" {{ page.abs_url|url }}" data-page-title="{{ page.title }}">
    </div>
</div>
<script type="text/javascript">
    const src = '{{ config.extra.cusdis.host }}/js/widget/lang/{{ config.extra.cusdis.lang }}.js';
    var createScript = function (url, onload) {
        var s = document.createElement('script');
        s.setAttribute('src', url);
        s.setAttribute('type', 'text/javascript');
        s.setAttribute('charset', 'UTF-8');
        s.async = false;
        if (typeof onload === 'function') {
            if (window.attachEvent) {
                s.onreadystatechange = function () {
                    var e = s.readyState;
                    if (e === 'loaded' || e === 'complete') {
                        s.onreadystatechange = null;
                        onload();
                    }
                };
            } else {
                s.onload = onload;
            }
        }
        var e = document.getElementsByTagName('script')[0] ||
            document.getElementsByTagName('head')[0] ||
            document.head || document.documentElement;
        e.parentNode.insertBefore(s, e);
    }
    createScript(src);
    var schema = document.documentElement.getAttribute('data-user-color-scheme');
    if (schema) {
        document.querySelector('#cusdis_thread').dataset.theme = schema
    }
    var st = document.createElement("style");
    st.innerHTML = "#root {padding: 0 10px;}";
    addEventListener("load", function(){
        const frame = document.querySelector("#cusdis_thread > iframe").contentWindow.document;
        frame.head.appendChild(st);
    });
</script>
<script type="text/javascript">
    var loadComments = function (selectors, loadFunc) {
        loadFunc();
    }
    loadComments('#cusdis_thread', function () {
        createScript("https://cusdis.kxxt.tech/js/cusdis.es.js");
    });
</script>
<noscript>Please enable JavaScript to view the comments</noscript>
{% endif %}
